* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
}

button {
    cursor: pointer;
}


/* NAVIGATION BEGINS */
.topnav {
    height: 60px;
    font-weight: 400;
    font-size: 14px;
    color: #22235F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid #22235F 5px;
    padding: 10px;
}

.nav_right {
    display: flex;
    align-items: center;
    gap: 2em;
}

.nav_right a {
    color: #606060;
    text-decoration: none;
}

.nav_right a:hover {
    color: #EB4852;
}

.nav_right button {
    background-color: #22235F;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    padding: 5px;
    border-style: none;
}

.sidenav {
    width: 250px;
    height: 400px;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 20px;
}

.sidenav a {
    color: #22235F;
    text-decoration: none;
}
/* NAVIGATION ENDS */

/* HOMEPAGE */
.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./Images/home_library.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.landing_search {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.landing_search input {
    width: 450px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

.landing_search a {
    margin-top: 5px;
    color: rgb(231, 231, 231);
    font-size: 12px;
}

.landing_search_icon {
    background-color: white;
    border: black solid 2px;
    border-radius: 5px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* HOMEPAGE- POPULAR BOOKS */
.popular {
    background-color: white;
    margin: 30px;
}

.popular_title {
    background-color: #22235F;
    color: white;
    padding: 20px;
}

.popular_books {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    padding: 30px;
    color: #22235F;
}

.popular_books a {
    text-decoration: none;
    color: #22235F;
}

.more_arrow {
    align-self: center;
}

@media (max-width: 768px) {
    .popular_books {
        flex-direction: column;
        display: flex;
        text-align: center;
        justify-content: space-between;
        gap: 2em;
    }

    .nav_right {
        font-size: 12px;
    }
}
/* HOMEPAGE ENDS */

/* ABOUT PAGE BEGINS */

.about {
    margin: 50px;
    color: #22235F;
    display: flex;
}

.about_title {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap: .5em;
    padding-bottom: 10px;
}

.about_title h3 {
    font-weight: 400;
    padding-bottom: 10px;
}

.about_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about_info p {
    height: 350px;
    width: 500px;
    font-size: 14px;
}

.about_photos {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

/* ABOUT PAGE ENDS */

/* LOG IN PAGE BEGINS */

.login {
    margin: 50px;
    color: #22235F;
    display: flex;
    justify-content: space-around;
}

.form_container {
    display: flex;
    justify-content: center;
}

fieldset {
    border: none;
    font-size: small;
}

legend {
    font-weight: 700;
    font-size: x-large;
    padding-bottom: 20px;
}

.library_card {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #f5f5f5;
    padding: 30px;
}

.form_information input {
    height: 40px;
    width: 350px;
    border-radius: 5px;
    border: #22235F solid 3px;
    background-color: #f5f5f5;
}

.forgot_password {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.forgot_password a {
    text-decoration: underline;
    color: #22235F;
}

#login_button {
    background-color: #22235F;
    border-radius: 5px;
    font-weight: 700;
    width: 60px;
    height: 30px;
    color: white;
    padding: 5px;
    border-style: none;
}

.library_card_info {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    gap: 1em;
}

.library_card_info p {
    font-size: 13px;
}
.library_card_info a {
    text-decoration: underline;
    color: #22235F;
    font-weight: 700;
    font-size: 13px;
}
/* LOG IN PAGE ENDS */

/* CATALOG PAGE BEGINS */
.catalog {
    margin: 50px 75px 0px 150px;
}

.catalog h1 {
    color: #22235F;
}

.catalog_search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60em;
    padding: 20px 0px;
}

.catalog_search input {
    width: 750px;
    height: 40px;
    border-radius: 5px;
    background-color: #f5f5f5;
    border: none;
}

.catalog_search a {
    color: #22235F;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    gap: .5em;
    padding-top: 5px;
}

.catalog_search_icon {
    background-color: #f5f5f5;
    border: #22235F solid 3px;
    border-radius: 5px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.search_buttons {
    width: 960px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .1em;
    padding-bottom: 20px;
}

.search_buttons button {
    background-color: #22235F;
    font-weight: 700;
    font-size: 16px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border-style: none;
}

#active_button {
    background-color: #EB4852;
    font-weight: 700;
    font-size: 16px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border-style: none;
}

.search_results {
    display: grid;
    grid-template-columns: 2fr 350px;
    grid-template-rows: 50px ;
}

.sorted_info {
    background-color: #f5f5f5;
    padding: 10px;
    border: #22235F solid 3px;
    border-radius: 5px;
    width: 450px;
    height: 50px;
}

.sorted_info select {
    border: none;
    background-color: #f5f5f5;
    width: 250px;
    font-size: 16px;
}

.catalog_filter {
    padding: 10px;
    grid-row: span 2;
    height: 700px;
    background-color: #f5f5f5;
    color: #22235F;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .2em;
}

.filter_section {
    font-weight: 400;
    width: 300px;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    gap: 1em;
    padding: 10px;
}

.dropdown {
    border: none;
    background-color: #f5f5f5;
    font-weight: 700;
    color: #22235F;
}

.filter_section_info button {
    align-content: space-around;
    background-color: #f5f5f5;
    font-weight: 700;
    font-size: 14px;
    color: #22235F;
    border-radius: 5px;
    border: #22235F solid 3px;
    padding: 5px;
    gap: .5em;
}

.filter_section_info button:focus {
    background-color: #EB4852;
    border: #EB4852;
    color: white;
}

.filter_section_input {
    width: 300px;
    height: 75px;
    border-radius: 5px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 10px;
}

.filter_section_icon {
    background-color: #f5f5f5;
    border: #22235F solid 3px;
    border-radius: 5px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.filter_section_icon input {
    border: none;
    background-color: #f5f5f5;
}

.filter_section_language {
    padding-top: 10px;
}

.language_english {
    display: flex;
    justify-content: flex-start;
}

.language_spanish {
    display: flex;
    justify-content: flex-start;
}

.language_chinese {
    display: flex;
    justify-content: flex-start;
}

.search_results_books {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.results_books {
    display: flex;
    justify-content: space-between;
    gap: 5em;
    border-bottom: #22235F solid 3px;
    padding: 30px 15px 30px 0px;
}

.results_books img {
    width: 150px;
    height: 250px;
    object-fit: contain;
}

.results_books_info {
    color: #22235F;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#subtitle {
    color: #EB4852;
    font-weight: 400;
    text-decoration: underline;
    font-size: 1.5em;
}

.results_books_info p {
    font-size: 13px;
}

.results_books_info a {
    color: #22235F;
    font-weight: 700;
}

.results_books_info img{
    width: 15px;
    height: 15px;
    object-fit: contain;
}

.green_highlight {
    color: #027A2B;
    font-weight: 700;
}

.bold_highlight {
    font-weight: 700;
}

.results_books_tags {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    width: 400px;
}

.results_books_tags button {
    background-color: white;
    border: #22235F solid 3px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: #22235F;
}


/* CATALOG PAGE ENDS */

/* BOOK DESCRIPTION BEGINS */

.description_title {
    color: #22235F;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    margin: 75px 250px;
}

.description_title h2 {
    font-weight: 400;
}

.book_description_cover {
    margin: 0px 250px;
    display: flex;
    justify-content: space-between;
}

.book_description_container {
    color: #22235F;
}

.like_buttons {
    display: flex;
    gap: 1em;
    padding-bottom: 20px;
}

.like_buttons i {
    color: white;
    padding-right: 10px;
}

.like_buttons button {
    font-size: 18px;
    background-color: #22235F;
    border-radius: 5px;
    font-weight: 400;
    color: white;
    padding: 15px;
    border-style: none;
}

.book_description_formats {
    display: grid;
    grid-template-columns: 100px 100px 110px;
    margin: 10px 0px;
    gap: 1em;
}

.book_description_formats_info {
    border: #22235F solid 3px;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2em;
}

.book_description_formats_info h5 {
    padding-bottom: 5px;
}

.book_description_formats_info p {
    text-align: center;
}

.book_description_details {
    font-size: 13px;
}

.green_available {
    color: #027A2B;
}

.red_waitlist {
    color: #EB4852;
}

.book_summary {
    margin: 50px 250px;
    border-bottom: #22235F solid 3px;
    padding-bottom: 30px;
    color: #22235F;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.ratings_reviews {
    margin: 50px 250px;
    border-bottom: #22235F solid 3px;
    padding-bottom: 30px;
    color: #22235F;
    display: flex;
    flex-direction: column;
}

.star_rating {
    color: gold;
}

.star_write_review {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.star_write_review button {
    border: #22235F solid 3px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #22235F;
}

.top_reviews_person {
    display: flex;
    gap: 1em;
    font-size: 14px;
}

.written_reviews {
    padding: 5px 0px 20px 0px;
}

.written_reviews a {
    color: #22235F;
    font-weight: 700;
    text-decoration: underline;
}

#read_more {
    align-self: center;
    padding: 10px;
    color: #22235F;
    font-weight: 700;
}

.book_description_tags {
    margin: 0px 250px;
    color: #22235F;
    border-bottom: #22235F solid 3px;
}

.description_tags_buttons {
    display: flex;
    gap: .5em;
    padding: 10px 0px 30px 0px;
}

.description_tags_buttons button {
    border: #22235F solid 3px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #22235F;
}

.book_suggestions {
    margin: 40px 250px;
    color: #22235F;
}

.book_suggestions_container {
    display: flex;
    gap: 3em;
}

.book_suggestions_info {
    color: #22235F;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.book_suggestions_info img {
    width: 110px;
    height: 175px;
    align-self: center;
    margin: 30px 0px;
}

.book_suggestions_info a {
    color: #22235F;
    text-decoration: none;
    font-weight: 700;
}

/* BOOK DESCRIPTION ENDS */